* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    background: #fff;
    text-align: center;
}

.header {
    position: relative;
    background: url("images/bg-header-mobile.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.center-logo {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%);
}

.text-box {
    position: absolute;
    top: 35%;
    text-align: center;
    width: 100%;
}

.header__main-text {
    color: #4c545d;
    padding: 0 20px;
    margin: 30px 0;
}

.header__sub-text {
    font-size: 1rem;
    padding: 0 50px;
    margin: 30px 0;
    color: #9fabb2;
}

.buttons {
    display: grid;
    grid-template-columns: 300px;
    place-items: center;
    justify-content: center;
    grid-gap: 20px;
    text-align: center;
}

.header__button-ios, 
.header__buttton-mac {
    padding: 15px;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    border-style: none;
    width: 80%;
}

.header__button-ios {
    background: #26baa4;
}

.header__buttton-mac {
    background: #6173ff;
}

.content__keep-track {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20vh;
}

.content__keep-track__heading {
    padding: 0 50px;
    margin-bottom: 20px;
    color: #4c545d;
}

.content__keep-track__heading__text {
    padding: 0 35px;
    margin-bottom: 50px;
    color: #9fabb2;
}

.main-content__sub-content__image {
    width: 76%;
}

.content__keep-track__sub-content__textbox {
    width: 76%;
    margin: 0 auto;   
}

.content__keep-track__sub-content__textbox-heading {
    margin: 40px 0 10px 0;
    color: #4c545d;
}

.content__keep-track__sub-content__textbox-heading__sub-text {
    color: #9fabb2;
}

.content__access-clipboard {
    margin-top: 20vh;
}

.content__access-clipboard__heading {
    text-align: center;
    padding: 0 30px;
    margin-bottom: 20px;
    color: #4c545d;
}

.content__access-clipboard__heading__text {
    padding: 30px;
    color: #9fabb2;
}

.access-clipboard__heading__image {
    width: 85%;
}

.content__workflow {
    width: 70%;
    margin: 0 auto;
}

.content__workflow__heading {
    margin-top: 20vh;
    color: #4c545d;
    margin-bottom: 1vh;
}

.content__access-clipboard__heading__text {
    color: #9fabb2;
}

.content__workflow__content-box {
    margin-top: 5vh;
    margin-bottom: 20vh;
}

.content__workflow__content-box__image {
    margin-bottom: 3vh;
}

.content__workflow__content-box__heading {
    margin-bottom: 1vh;
}

.content__workflow__content-box__text {
    margin-bottom: 8vh;
}

.company {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    margin-top: 20vh;
}

.company-logo {
    margin-bottom: 5vh;
}

.vector-logo {
    margin-bottom: 20vh;
}

.ios-mac {
    width: 75%;
    margin: 0 auto;
}

.ios-mac__heading {
    margin-bottom: 2vh;
    color: #4c545d;
}

.ios-mac__heading__text {
    margin-bottom: 4vh;
    color: #9fabb2;
}

footer {
    background: rgba(159, 171, 178, 0.2);
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    margin-top: 20vh;
    padding: 20px;
}

.footer__logo {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 2vh;
}

.footer-elements {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);   
    margin-bottom: 2vh;
}

.clipboard-footer {
    display: flex;
    flex-direction: column;
}

.social-media-box {
    width: 100%;
}

.social-media {
    padding: 10px;
}

@media (min-width: 900px) {
    .header {
        position: relative;
        background: url("images/bg-header-desktop.png");
        background-size: cover;
        height: 80vh;
        width: 100%;
    }

    .center-logo {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%);
    }

    .header__sub-text {
        width: 45%;
        margin: 0 auto;
    }

    .text-box {
        position: absolute;
        top: 50%;
        text-align: center;
        width: 100%;
    }
    
    .buttons {
        margin: 0 auto;
        grid-template-columns: repeat(2, 200px);
        margin-top: 8vh;
    }

    .header__button-ios, 
    .header__buttton-mac {
        width: 100%;
    }

    .content__keep-track {
        margin-top: 20vh;
    }
    .content__keep-track__heading,
    .content__access-clipboard__heading {
        font-size: 2rem;
    }

    .content__keep-track__heading__text {
        padding: 0 40px;
        width: 52%;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    .content__keep-track__sub-content {
        display: flex;
        padding-left: 150px;
    }

    .content__keep-track__sub-content__textbox {
        width: 30%;
        padding: 10px;
        text-align: left;
    }

    .main-content__sub-content__image {
        width: 50%;
    }

    .content__access-clipboard {
        margin-top: 20vh;
    }

    .content__access-clipboard__heading__text {
        width: 60%;
        padding: 0 100px;
        margin: 0 auto;
        margin-bottom: 10vh;
    }

    .content__workflow {
        width: 100%;
        margin: 0 auto;
    }
    
    .content__workflow__heading {
        font-size: 2rem;
    }

    
    .content__workflow__content-box {
        display: flex;
        margin-top: 10vh;
    }

    .content__workflow__content-box__tools {
        width: 90%;
        margin: 0 auto;
        padding: 0 55px;
    }

    .company {

        flex-direction: row;
        justify-content: space-around;
        width: 90%;
        margin-top: 10vh;
    }

    .ios-mac {
        margin-top: 10vh;
    }
    
    .ios-mac__heading__text {
        width: 65%;
        margin: 0 auto;
    }
    
    footer {
        flex-direction: row;
        width: 100%;
        height: 15vh;
        margin-top: 8vh;
        padding: 20px 50px;
    }
    
    .footer__logo {
        height: 5vh;
        width: 5vw;
        margin: auto 0;
    }

    .clipboard-footer {
        position: relative;
        margin-left: 100px;
        display: grid;
        grid-template-columns: repeat(3, 150px);
        text-align: left;
    }
    
    .footer-elements:nth-of-type(2) {
        grid-row: 2/2;
    }

    .footer-elements:nth-of-type(4) {
        grid-column: 2/3;
    }

    .footer-elements:nth-of-type(5) {
        grid-column: 3/-1;
        grid-row: 1/1;
    }

    .social-media-box {
        width: 20%;
        position: absolute;
        right: 0;
    }

    .social-media {
        color: red;
    }

    a:hover {
        cursor: pointer;
    }
       
    .footer-elements:hover {
        color: #26baa4;
    }   

}
